*.json
*.cmake
*.make
*.tcl
*.a
*.pc

### VisualStudioCode ###
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### GTEST ###
!lib/googletest/*

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### CMAKE ###
CMakeFiles
CMakeCache.txt
Makefile

### Executable  ###
PS1_EMU
PS1_EMU_TEST